<nav class="w-full border-b-2 border-gray-200 bg-gray-100 p-4">
    <div class="flex items-center justify-between">
      <p>Navbar</p>
      <!-- Burger Button -->
      <button
        class="border rounded-lg border-black md:invisible"
        (click)="toggleMenuBurger()"
        [attr.aria-expanded]="isMenuBurgerOpen"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 6h18M3 12h18M3 18h18"
          />
        </svg>
      </button>
    </div>
    <!-- Menu Links -->
    <div
      class="overflow-hidden transition-[max-height] duration-300 ease-in-out"
      [ngClass]="{
        'max-h-0': !isMenuBurgerOpen,
        'max-h-96': isMenuBurgerOpen
      }"
    >
      <ul class=" p-4 space-y-2">
        <li><a href="/" class="block hover:underline">Home</a></li>
        <li><a href="/about" class="block hover:underline">About</a></li>
        <li><a href="/contact" class="block hover:underline">Contact</a></li>
      </ul>
    </div>
  </nav>
  