<nav class="w-full border-b-2 border-gray-200 bg-gray-100 p-4 md:px-32 md:py-6">
  <div class="flex justify-between items-center">
    <p>Navbar</p>
    <!-- Burger Button -->

    <div class="hidden md:flex md:visible">
      <ul class="flex space-x-4">
        <li><a href="/" class="hover:underline">Avantage</a></li>
        <li><a href="/about" class="hover:underline">Avis</a></li>
        <li><a href="/contact" class="hover:underline">Newsletter</a></li>
      </ul>
    </div>

    <button
      class="border rounded-lg border-black md:hidden"
      (click)="toggleMenuBurger()"
      [attr.aria-expanded]="isMenuBurgerOpen"
    >
      <svg
        *ngIf="!isMenuBurgerOpen"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 6h18M3 12h18M3 18h18"
        />
      </svg>

      <svg
        *ngIf="isMenuBurgerOpen"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m7 7l10 10M7 17L17 7"
        />
      </svg>
    </button>
  </div>
  <!-- Menu Links -->
  <div
    class="overflow-hidden transition-[max-height] duration-300 ease-in-out"
    [ngClass]="{
      'max-h-0': !isMenuBurgerOpen,
      'max-h-96': isMenuBurgerOpen
    }"
  >
    <ul class="p-4 space-y-2">
      <li><a href="/" class="block hover:underline">Avantage</a></li>
      <li><a href="/" class="block hover:underline">Avis</a></li>
      <li><a href="/" class="block hover:underline">Newsletter</a></li>
    </ul>
  </div>
</nav>
