<div id="partenaires" class="flex flex-col py-24 mt-24 px-6 gap-12 md:flex-row md:p-16 md:gap-32 md:justify-center md:items-center">
    <div id="nosPartenaires" class="flex flex-col items-center gap-10">
        <h2 class="text-[40px] font-bold">Nos partenaires</h2>
        <img src="LUX_logo.png" alt="Partenaires" class="w-60 md:w-96"/>
    </div>
    <div id="devenirPartenaires" class="flex flex-col py-6 px-6 rounded-3xl bg-violet items-start gap-6 md:h-auto md:self-center">
        <h2 class="text-[32px] font-bold max-w-[60%]">Devenez comme eux, Faites nous confiance !</h2>
        <button class="text-black text-[20px] bg-white py-2 px-4 rounded-[8px]">Contactez-nous</button>
    </div>
</div>
