<div id="partenaires" class="flex flex-col items-center py-24 mt-24 px-6 gap-12">
    <div id="nosPartenaires" class="flex flex-col items-center gap-10">
        <h2 class="text-2xl font-bold">Nos partenaires</h2>

    </div>
    <div id="devenirPartenaires" class="flex flex-col py-16 px-6 rounded-3xl bg-slate-300">
        <h2 class="text-2xl font-bold">Devenez comme eux,</h2>
        <h2 class="text-2xl font-bold">Faites nous confiance !</h2>
        <button class="text-black bg-white py-4 px-2">Contactez-nous</button>
    </div>
</div>