<div id="contact" class="flex flex-col px-6 py-24 gap-8 items-center">
    <h2 class="text-[32px] font-bold">Formulaire partenaire</h2>
    <p class="text-[20px] text-center">Ce formulaire est essentiel au traitement de votre demande de partenariat et nous permettra de vous recontacter de manière efficace.</p>

    <input class="text-[20px] py-2 px-4 mt-4 border-3 rounded-[10px]" type="text" placeholder="Nom">


    <p class="text-[20px] text-center text-slate-400">*Vos données ne seront utilisées qu'afin de vous répondre et ne seront nullement collectées ou distribuées pour d'autres usages.</p> 
    <a class="text-white font-bold bg-black py-4 px-6 rounded-lg" href="/">
        Envoyez le formulaire
      </a>
</div>