<div id="presentation" class="flex w-full px-6 py-24 md:px-24">
  <div
    id="presentationBoth"
    class="flex flex-col relative w-full md:items-center md:flex-row px-6 md:px-40 py-12 gap-y-24 md:gap-40 rounded-3xl bg-presentation bg-cover bg-center"
  >
    <div
      id="presentationTexte"
      class="flex flex-col md:w-1/2 text-white gap-y-6 items-start"
    >
      <div id="premiereLigne" class="flex gap-4">
        <img src="logo.png" alt="Logo OnSort" class="w-16 md:w-24" />
        <h1 class="text-[40px] md:text-[56px] font-bold">OnSort !</h1>
      </div>
      <h2 class="text-3xl font-bold">
        L'appli incontournable pour vos sorties !
      </h2>
      <h3 class="text-[24px]">Swipez, matchez, sortez !</h3>
      <p class="text-[20px] md:max-w-[81%]">
        Fini les interminables débats ou le manque d’idées : OnSort vous propose
        des activités originales et des lieux de restauration autour de vous.
        Quand vous et vos amis ou votre partenaire "matchez" sur une option, la
        décision est prise en un clin d’œil !
      </p>
      <a class="text-black bg-white py-2 px-4 rounded-lg text-[20px]"
        >OnSort, disponible ici !</a
      >
    </div>
    <div
      id="presentationImage"
      class="flex md:w-1/2  bottom-0 absolute right-2 justify-center"
    >
      <img src="mockup.png" alt="Image" class="rounded-3xl" />
    </div>
  </div>
</div>
