<div class="flex w-full px-6 pt-24 md:px-24">
  <div
    id="presentationBoth"
    class="flex flex-col px-6 py-12 gap-y-24 rounded-3xl bg-gray-800"
  >
    <div
      id="presentationTexte"
      class="flex flex-col text-white gap-y-6 items-center"
    >
      <h1>Titre</h1>
      <h2>Sous-titre</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur. Quam commodo vestibulum enim
        diam lacus libero. In risus dui magna ultricies bibendum adipiscing.
        Egestas curabitur sed sed nunc. Nunc vulputate euismod diam viverra
        facilisi ut et sed.Lorem ipsum dolor sit amet consectetur. Quam commodo
        vestibulum enim diam lacus libero. In risus dui magna ultricies bibendum
        adipiscing. Egestas curabitur sed sed nunc. Nunc vulputate euismod diam
        viverra facilisi ut et sed.
      </p>
      <a>Download</a>
    </div>
    <div id="presentationImage" class="flex items-center justify-center">
      <img
        src="https://images.unsplash.com/photo-1630486829244-3b3b3b3b3b3b"
        alt="Image"
        class="rounded-3xl"
      />
    </div>
  </div>
</div>
